<ion-view view-title="CCTV">
  <ion-slide-box show-pager="false">
    <ion-slide>
      <div class="photoGallery" style="margin-top: 10vh;margin-bottom: 2vh;">
        <h3 class="topTitle">Cibatu (Arah Maxxbox)</h3>
        <iframe src="{{bahasa}}" style="margin-top: 2vh;width: 100vw;height: 40vh;"></iframe>

        <br>
        <div class="row" style="margin-top:13%;margin-bottom: 15%; position: absolute;">
          <a class="col-50" ng-click="previous()"><i class="ion-chevron-left" style="color:blue;"></i></a>
          <a class="col-50" ng-click="next()"><i class="ion-chevron-right" style="color:blue;"></i></a>
        </div>
        <center><div class="row" style="margin-top:30%;margin-bottom: 15%; position: absolute;">
          <button class="button button-outline button-positive"> <!--ng-click="playFull()"-->Play a video</button>
          <button class="button button-outline button-positive"><a>Theater</a></button>
          <button class="button button-outline button-positive"><a> <!-- href="#/app/cctvMulti"-->Multi</a></button>
          <button class="button button-outline button-positive"><a> <!--href="#/app/cctvList"-->List</a></button>
        </div></center>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>
