<ion-view view-title="eComplaint">
    <ion-content>
        <center style="margin:0;padding:0;"><img src="img/talkToUs/languagesupport.png" style="width:35%;height:auto;margin:3em 0 0 0;padding:0;"></center>
        <div><p align="center" style="font-size: 25px;font-weight: 500;line-height: 1.5em; padding:1em;">Do you have any concern? Just tell us and solved your concern easily.</p></div>
        <center><a ng-if="at" class="button ng-binding" ng-href="#/app/eComplaintList" style="background-color:#0081C8;color:white;width:90%;height:3%;border-radius:20px;border:0;outline:0;margin-top:0;">Yes, I Have.</a></center>
    </ion-content>
</ion-view>