<div view-title="Forum" class="modal transparent image-modal">
    <ion-bar class="bar bar-subheader bar-stable" style="border:0;outline:0;">
        <div class="row">
            <div class="col col-50">
            </div>
            <div class="col col-50">
                <a href="#/app/newforum">
                    <h5 style="float:right;">{{ 'new_topic' | translate }}</h5>
                </a>
            </div>
        </div>
    </ion-bar>
    <div class="itemModal transparent" style="margin-top:30%;">
        <div style="background-color:#808080;">
            <center>
                <h3>{{ 'comment' | translate }}</h3>
            </center>
            <form ng-submit="sending(comment)" ng-controller="forumComment">
                <div class="row">
                    <div class="col">
                        <label class="item item-input text">
                            <textarea name="comment" placeholder="Comment" rows="10" ng-model="comment.desc" ng-required="true"></textarea>
                        </label>
                        <br>
                        <div class="row">
                            <button class="col-50 button button-positive" type="submit">{{ 'post' | translate }}</button>
                            <a href="#/app/forumdetail/{{detail[0].idforums}}" class="col-50 button button-positive" type="submit">{{ 'cancel' | translate }}</button></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>