<ion-view view-title="{{'property_market' | translate}}" style="background-color:#1d6fa5">
    <ion-content class="padding" style="margin-top:10%">
        <div class="col" style="text-align:center;padding: 0 0 px 0">
            <img src="img/property_start.png" style="width:75px;height:75px;">
        </div>
        <div style="color:#fff;">
            <center>
                <h3 style="font-weight:100; color:#fff">{{ 'property_market' | translate }}</h3>
            </center>
            <br>
            <p style="text-align:center;">{{ 'property_start' | translate }}</p>
        </div>
        <div class="row">
            <div class="col col-33 ">
                <a class="button button-block button-calm" href="#/app/property/buy" style="border-radius:30px;font-weight:900">{{ 'buy' | translate }}</a>
            </div>
            <div class="col col-33"></div>
            <div class="col col-33">
                <a class="button button-block button-calm" href="#/app/property/rent" style="border-radius:30px;font-weight:900">{{ 'rent' | translate }}</a>
            </div>
        </div>
    </ion-content>
</ion-view>