<ion-view view-title="{{'tenant_map'| translate}}" class="maplayout">

  <div ng-show="mencret" class="row" style="width:100%">
    
    <div class="col col-50">
      <table border="1">
      <tr>
        <td>
          <img width="48" src="img/ic_distances.png">
        </td>
        <td>
          <p style="vertical-align:middle" >{{mencret}}</p>
        </td>
      </tr>
      </table>
    </div>

    <div class="col col-50" style="border-left:solid thin;border-color:#0e0e0e">
      <table>
        <tr>
          <td>
            <img width="48" src="img/tenantDetail/ic_time.png">
          </td>
          <td>
            <p style="vertical-align: middle">{{telek}}</p>
          </td>
        </tr>
      </table>
    </div>

  </div>

  <div id="map" data-tap-disabled="true"></div>

</ion-view>
