<ion-view view-title="{{'tenant_map'| translate}}" class="maplayout">
  <ion-content  class="has-header" has-bouncing="false">

  <div ng-show="mencret" class="row" style="width:100%;padding:0">

    <div class="col col-50">
      <div class="row">
        <div class="col col-50" style="align-content: center">
          <img style="display:block;margin: auto;top: 0; left: 0;right: 0;bottom: 0;" width="50%"  src="img/ic_distances.png">
        </div>
        <div class="col col-50" style="align-content: center">
          <p style="margin-top: 0;top: 1em;position:absolute;vertical-align: middle;" >{{mencret}}</p>
        </div>

      </div>

    </div>

    <div class="col col-50" style="border-left:solid thin;border-color:#0e0e0e">
      <div class="row">
        <div class="col col-50" style="align-content: center">
            <img style="display:block;margin: auto;top: 0; left: 0;right: 0;bottom: 0;" width="50%" src="img/tenantDetail/ic_time.png">
        </div>
        <div class="col col-50" style="align-content: center">
            <p style="margin-top: 0;top: 1em;position:absolute;vertical-align: middle;">{{telek}}</p>
        </div>
      </div>
    </div>

  </div>

  <div id="map" data-tap-disabled="true"></div>
  </ion-content>

</ion-view>
