<ion-view view-title="{{'profile' | translate}}" style="background-color:#fafafa">
    <ion-content class="has-expanded-header has-footer" style="padding: 40px">
        <div class="history-content">
            <img src="img/tabs/servicehours.png">
            <h2>{{ 'hist_cont_1' | translate }}</h2>

            <div style="margin-top:10px;margin-bottom:10px;">
                <p>{{ 'hist_cont_2' | translate }}</p>
                <p>{{ 'hist_cont_3' | translate }}</p>
            </div>

            <a href="#/app/myhistory/{{idaccount}}" class="button button-positive" style="font-weight:bold;width:100%;text-transform:uppercase;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);margin-top:10px;margin-bottom:10px;">{{ 'btn_lets_go' | translate }}</a>

            <p style="text-align:center;margin-top:10px;color:#2980b9;">{{ 'hist_cont_4' | translate }}</p>

        </div>
    </ion-content>
</ion-view>