<ion-view view-title="ForgetPassword" name="login-view" style="">
    <ion-content class="padding" style="padding: 50px" overflow-scroll="true">

        <div class="col" style="text-align:center">
            <img src="img/lippo.png" style="width:130px;">
            <p style="color:#fff;letter-spacing:1px;font-size:15px">{{ 'forget_password' | translate }}</p>
            <p>{{ 'sub_forget_password' | translate }}</p>
        </div>

        <form ng-submit="credentials(data)">

            <div class="list list-inset" style="background-color:#3498db">
                <label class="item item-input">
                    <input type="text" placeholder="Email or mobile phone" ng-model="data.contact">
                </label>
            </div>
            <button type="submit" ng-click="forgetPassword(data)" class="button button-block button-positive" style="border-radius:15px">{{ 'submit' | translate }}</button>
            <button ng-click="$ionicGoBack()" class="button button-block button-positive" style="border-radius:15px">{{ 'cancel' | translate }}</button>
        </form>
        <div class="col" style="text-align:center">
            <p>{{ 'sub2_forget_password' | translate }}</p>
        </div>
    </ion-content>
</ion-view>