<ion-view view-title="LippoCikarang.com" style="background-color:#ecf0f1" cache-view="false">
    <ion-content>

        <div class="row" ng-controller="weather" style="position:relative;background-color:#fff;align-items:center;height:2.5em">
            <p style="font-size:13px;position:absolute;left:1em;top:0.5em;color:#7f8c8d;letter-spacing:1px;font-weight:bold;margin:0">{{'hello' | translate}}, {{fullname}}</p>
            <p style="font-size:13px;position:absolute;right:1em;top:0.5em;color:#0c60ee;font-weight:bold;margin:0">{{data_weather.temp}} °C</p>
            <div ng-if="data_weather.icon == 2" style="position:absolute;right:5em;top:0.5em;">
                <i class="icon icon ion-ios-thunderstorm iconcloudy"></i>
            </div>
            <div ng-if="data_weather.icon == 3" style="position:absolute;right:3em;top:0.5em;">
                <i class="icon icon ion-ios-rainy-outline iconcloudy"></i>
            </div>
            <div ng-if="data_weather.icon == 5" style="position:absolute;right:3em;top:0.5em;">
                <i class="icon icon ion-ios-rainy iconcloudy"></i>
            </div>
            <div ng-if="data_weather.icon == 6" style="position:absolute;right:3em;top:0.5em;">
                <i class="icon icon ion-ios-rainy iconcloudy"></i>
            </div>
            <div ng-if="data_weather.icon == 7" style="position:absolute;right:3em;top:0.5em;">
                <i class="icon icon ion-ios-cloudy iconcloudy"></i>
            </div>
            <div ng-if="data_weather.icon == 8" style="position:absolute;right:3em;top:0.5em;">
                <i class="icon icon ion-android-cloud-outline iconcloudy"></i>
            </div>
        </div>

        <div class="row slider-main" style="position:relative;height:180px;width:100vw;align-items:center;margin:0;">
            <a ng-click="previous()" style="position:absolute;left:1.5em;top:5.5em;z-index:1"><i class="ion-chevron-left" style="color:white;"></i></a>
            <a ng-click="next()" style="position:absolute;right:1.5em;top:5.5em;z-index:1"><i class="ion-chevron-right" style="color:white;"></i></a>

            <ion-slide-box auto-play="true" does-continue="true" slide-interval="3000" active-slide="currentIndex" on-slide-changed="slideChanged(index)" style="height:auto;padding:0;margin:0;position:relative;">
                <ion-slide class="slider-slide-image" ng-repeat="list in news" ng-click="openModal(list)" style="padding:0;margin:0;justify-content:center;align-items:center;height:180px;width:100%;">
                    <img ng-src="{{list.avatar}}">
                </ion-slide>
            </ion-slide-box>
        </div>

        <div class="row sub-menu recom_mainmenu" style="margin-top:-2%">
            <div class="col col-50 sub-menu">
                <ion-item class="sub item-light" href="#/app/recomended/11">
                    <img src="img/side-menu/entertainment_b.png" style="width:20px;height:20px;"> &nbsp;
                    <p style="margin-top:-23px;margin-left:35px;"> {{'entertaiment' | translate}} </p>
                </ion-item>
                <ion-item class="sub item-light" href="#/app/recomended/13">
                    <img src="img/side-menu/accomodation_b.png" style="width:20px;height:20px;"> &nbsp;
                    <p style="margin-top:-23px;margin-left:35px;"> {{'accomodation' | translate}} </p>
                </ion-item>
                <ion-item class="sub item-light" href="#/app/bus">
                    <img src="img/side-menu/icon_transportation.png" style="width:20px;height:20px;"> &nbsp;
                    <p style="margin-top:-23px;margin-left:35px;"> {{'transportation' | translate}} </p>
                </ion-item>
            </div>
            <div class="col col-50 sub-menu">
                <ion-item class="sub item-light" href="#/app/recomended/12">
                    <img src="img/side-menu/dining_b.png" style="width:20px;height:20px;"> &nbsp;
                    <p style="margin-top:-23px;margin-left:35px;"> {{'dining' | translate}} </p>
                </ion-item>
                <ion-item class="sub item-light" href="#/app/recomended/14">
                    <img src="img/side-menu/shopping_b.png" style="width:20px;height:20px;"> &nbsp;
                    <p style="margin-top:-23px;margin-left:35px;"> {{'shopping' | translate}} </p>
                </ion-item>
                <ion-item class="sub item-light" href="#/app/gallery">
                    <img src="img/side-menu/gallery_b.png" style="width:20px;height:20px;"> &nbsp;
                    <p style="margin-top:-23px;margin-left:35px;"> {{'gallery' | translate}} </p>
                </ion-item>
            </div>
        </div>

        <div style="padding:1% 5%;" class="row sub-menu">
            <div class="col col-50">
                <a class="button button-assertive" ng-click="openTalkto()" style="width:100%;border-radius:10px;padding:0 2%;display:flex;align-items:center;justify-content:center;min-height:0">
                    <img src="img/talkToUs/icon_talktous.png" style="width:23%">
                    <strong>Talk</strong>toUs
                </a>
            </div>
            <div class="col">
                <a class="button button-positive" href="#/app/coupon" style="width:100%;border-radius:10px;padding:0 2%;display:flex;align-items:center;justify-content:center;min-height:0">
                    <strong>{{'discount' | translate}}</strong>{{'coupon' | translate}}
                </a>
            </div>
        </div>

        <div style="padding:1% 5%;" class="row sub-menu">
            <div class="col" ng-click="gotocurrency()" ng-controller="currencymain" style="background-color:#fff;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);border-radius: 15px">
                <div ng-if="currate == null" class="row">
                   <div class="col col-50">
                       <p style="font-size:12px"> -- -- -- </p>
                   </div>
                   <div class="col col-50">
                       <img src="img/ic_settings.png" style="width:15%;float:right;">
                   </div>
               </div>
                <div class="row" ng-if="currate == null">
                    <div class="col col-50">
                        <img width="32" style="margin-top: 12%" ng-src="" src="img/currency/flag_of_australia.png">
                        <i style="vertical-align: middle;font-size: 12px">00000</i>
                    </div>
                    <div class="col col-50">
                        <img width="32" style="margin-top: 12%" ng-src="" src="img/currency/flag_of_bulgaria.png">
                        <i style="vertical-align: middle;font-size: 12px">00000</i>
                    </div>
                </div>
                <div ng-if="currate != null" class="row">
                   <div class="col col-70">
                       <p style="font-size:12px"> {{ currate.time | date:'yyyy-MM-dd HH:mm:ss'}} </p>
                   </div>
                   <div class="col col-30">
                       <img src="img/ic_settings.png" style="width:15%;float:right;">
                   </div>
               </div>  
                <div ng-if="currate != null" class="row">
                    <div class="col col-50">
                        <img width="32" style="margin-top: 12%" ng-src="{{currate.flag1}}" src="img/currency/flag_of_australia.png">
                        <i style="vertical-align: middle;font-size: 12px">{{currate.rate1 *10000| limitTo:5}}</i>
                    </div>
                    <div class="col col-50">
                        <img width="32" style="margin-top: 12%" ng-src="{{currate.flag2}}" src="img/currency/flag_of_australia.png">
                        <i style="vertical-align: middle;font-size: 12px">{{currate.rate2 *10000|limitTo:5}}</i>
                    </div>
                </div>
            </div>
        </div>

        <div style="padding:1% 5%;" class="row sub-menu">
            <div class="col" style="display:flex;align-items:flex-end">
                <p style="font-size:small;margin-bottom:5%">LippoCikarang.com</p>
            </div>
            <div class="col">
                <img ng-click="gotoyoutbe()" src="img/youtube_main.png" style="width:22%">
                <img src="img/instagram_main.png" style="width:22%">
                <img src="img/twitter_main.png" style="width:22%">
                <img src="img/facebook_main.png" style="width:22%">
            </div>
        </div>

    </ion-content>
</ion-view>