<ion-view title="{{'more' | translate}}">
    <ion-content style="margin-top:5px">
        <ul>
            <li style="padding:22px">
                <div ng-if="Tr == 'en'" class="moreDivParent">
                    <div class="row" ng-click="klikLang()">
                        <img class="col-5" style="width:1.5em;" src="img/rounded_flag_ina.png">
                        <div class="col-15"></div>
                        <div class="col-75" style="margin-left: 3em;">
                            <p>{{'BUTTON_TEXT_EN' | translate}}</p>
                        </div>
                        <input style="opacity: 0;margin-left: 0;margin-top:0;width: 2em;height: 2em;z-index:1;" type="checkbox">
                        <i style="margin-top: 0em;margin-left: -2em;z-index:0;" class="col ion-arrow-down-b"></i>
                    </div>
                    <center>
                        <div ng-show="statLang" class="moreDiv">
                            <div>
                                <p>{{'BUTTON_TEXT_EN' | translate}}</p>
                            </div>
                            <hr>
                            <div ng-click="switchLanguage('ina');showToast('You have selected Indonesian', 'short', 'bottom')">
                                <p>{{'BUTTON_TEXT_DE' | translate}}</p>
                            </div>
                        </div>
                    </center>
                </div>
                <div ng-if="Tr == 'ina'" class="moreDivParent">
                    <div class="row" ng-click="klikLang()">
                        <img class="col-5" style="height: 1.5em;" src="img/rounded_flag_ina.png">
                        <div class="col-15"></div>
                        <div class="col-75" style="margin-left: 3em;">
                            <p>{{'BUTTON_TEXT_DE' | translate}}</p>
                        </div>
                        <input style="opacity: 0;margin-left: 0;margin-top:0;width: 2em;height: 2em;z-index:1;" type="checkbox">
                        <i style="margin-top: 0em;margin-left: -2em;z-index:0;" class="col ion-arrow-down-b"></i>
                    </div>
                    <center>
                        <div ng-show="statLang" class="moreDiv">
                            <div>
                                <p>{{'BUTTON_TEXT_DE' | translate}}</p>
                            </div>
                            <hr>
                            <div ng-click="switchLanguage('en');showToast('You have selected English', 'short', 'bottom')">
                                <p>{{'BUTTON_TEXT_EN' | translate}}</p>
                            </div>
                        </div>
                    </center>
                </div>
            </li>


            <li class="item item-toggle">
                <div class="row">
                    <div class="col col-20">
                        <img src="img/ic_notification.png" width="50px"> 
                    </div>
                    <div class="col col-80">
                        <p style="font-size:17px; padding-left:20px">{{ 'notification' | translate }}</p>
                        <p style="font-size:12px; padding-left:20px">{{ 'notification_info' | translate }}</p>
                        <label class="toggle toggle-positive">
                            <input type="checkbox" ng-model="status.checked" ng-change="pushNotificationChange()">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
            </li>

            <li class="item item-toggle">
                <div class="row">
                    <div class="col col-20">
                        <img src="img/ic_sound.png" width="50px"> 
                    </div>
                    <div class="col col-80">
                        <p style="font-size:17px; padding-left:20px">{{ 'sound' | translate }}</p>
                        <p style="font-size:12px; padding-left:20px">{{ 'sound_info' | translate }}</p>
                        <label class="toggle toggle-positive">
                            <input type="checkbox" ng-model="sound.checked" ng-change="pushNotificationChange()">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
            </li>
        </ul>
    
    </ion-content>
</ion-view>